@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --font-sans: "Fira Code", system-ui, sans-serif;
}

body {
  font-family: var(--font-sans);
}

.dark {
  --ui-bg: #080c16;
  --ui-bg-muted: #0b1020;
}

.key.correct {
  background-color: var(--color-primary);
}

.key.present {
  background-color: var(--color-yellow-400);
}

.key.absent {
  background-color: var(--border-color-accented);
}

.key.unused {
  background-color: #787c7e;
}

.key.special {
  background-color: #787c7e;
}
