@import 'tailwindcss';
@import '@nuxt/ui';

@theme {
	--font-sans: 'Fira Code', system-ui, sans-serif;
}

body {
	font-family: var(--font-sans);
}

.dark {
	--ui-bg: #080c16;
	--ui-bg-muted: #0b1020;
}

.key.correct {
	background-color: #6aaa64;
}

.key.present {
	background-color: #c9b458;
}

.key.absent {
	background-color: #565858;
}

.key.unused {
	background-color: #787c7e;
}

.key.special {
	background-color: #787c7e;
}
